@import '../../../../shared/styles/variables';

.Participants {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  @media all and (max-width: $sm) {
    flex-direction: column;
    align-items: center;
  }

  img {
    max-height: 240px;
    object-fit: cover;
  }
}
