@import '../../../../shared/styles/variables';

.UploadPapers {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  flex: 0;

  @media all and (max-width: $sm) {
    margin-top: 1rem;

    > span {
      width: 100%;
    }
    :global {
      .ant-upload {
        width: 100%;

        button {
          width: 100%;
        }
      }
    }
  }
}
